#employee-form{
.form-control{
    padding: 10px;
    label{
        font-size:12px;
        font-weight: 500;
        margin-right:10px;
    }
    input{
        border-radius: 3px;
    }
    .error-message{
        display: block;
        color: red;
        margin-left: 44px;
    }
}
}
